/* Section Title */
header.section-top {
    /* background */
    background-color: #0776dd;

    /* display */
    display: flex;
    align-items: center;

    /* margin */
    margin: 10px auto auto auto;

    /* size */
    height: 40px;
    width: 960px;
}

/* The style of the webpage location */
header.section-top span#location {

    /* padding */
    padding-right: 20px;

    /* text */
    color: white;
    font-size: 12px;
}

/* The style of the webpage location link */
header.section-top span#location a {
    /* text */
    color: white;
}

/* The style of the webpage location link */
header.section-top span#location a:hover {
    /* text */
    color: white;
}

/* The style of the section title */
header.section-top span.section-top-title {
    /* margin */
    margin-right: auto;

    /* padding */
    padding-left: 10px;

    /* text */
    color: white;
    font-weight: bold;
}