@import url(./modules/catalog.css);
@import url(./modules/illustration.css);
@import url(./modules/keyword.css);
@import url(./modules/link.css);
@import url(./modules/nav-bar.css);
@import url(./modules/paging.css);
@import url(./modules/popup.css);
@import url(./modules/section-bar.css);
@import url(./modules/top-bar.css);

/* Root */
/* Automatically calculate the width and height of element when zooming */
* {
    font-family: "Noto Sans Simplified Chinese";
    box-sizing: border-box;
}

/* HTML */
html {
    background-color: #e6f5fb;
}

/* Body*/
body {
    /* background */
    background-image: linear-gradient(-180deg, #a3daf0 0%, #e6f5fb 100%);

    /* border */
    border: 0;

    /* margin */
    margin: 0;

    /* position */
    position: relative;

    /* size */
    height: 100%;
}

/* section-L1 div.container */
div.container {
    /* background */
    background-color: white;

    /* border */
    border-color: #71b0dc;
    border-radius: 1px;
    border-style: solid;
    border-width: 10px;

    /* margin */
    margin-right: auto;
    margin-left: auto;

    /* overflow */
    overflow: auto;

    /* padding */
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;

    /* size */
    height: auto;
    width: 960px;
}

div.container h2 {
    /* margin */
    margin-top: 0px;

    /* text */
    color: #0e465f;
    font-family: "Noto Sans Simplified Chinese";
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

div.container#videos {
    /* padding */
    padding-right: 30px;
    padding-left: 30px;
}

/* Editor description */
div.editor {
    /* border */
    border-bottom: 1px dashed #0776dd;

    /* margin */
    margin-top: 5px;
    margin-bottom: 10px;

    /* padding */
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;

    /* text */
    color: gray;
    font-size: small;
}

div.space-bar {
    /* size */
    height: 20px;
    width: 100%;
}

/* Site information */
footer.siteinfo {
    /* margin */
    margin: 20px auto 20px auto;

    /* size */
    width: 100%;

    /* text */
    text-align: center;
}

h3.section-title {
    /* border */
    border-bottom: 1px solid gray;

    /* padding */
    padding-bottom: 10px;
}

h3.description {
    /* size */
    width: 485px;
}

span.version {
    /* text */
    color: red;
}

table th {
    /* border */
    border: 1px solid gray;

    /* font */
    font-weight: lighter;
}

table th.table-label {
    /* font */
    font-weight: bold;

    /* size */
    width: 30%;
}

table tr.col-label {
    /* background */
    background-color: #fdcdb1;
}

table tr.col-label p {
    /* font */
    font-weight: bold;
}

table#info {
    /* border */
    border-collapse: collapse;

    /* margin */
    margin-left: 20px;
    margin-bottom: 20px;

    /* table */
    float: right;

    /* size */
    width: 335px;
}

table#info img {
    /* size */
    height: auto;
    max-width: 200px;
}

table.section-table {
    /* border */
    border-collapse: collapse;

    /* size */
    width: 100%;
}

table.section-table th.section-table-title {
    /* background */
    background-color: #fd6c67;
    
    /* font */
    font-weight: bold;
}